<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carga</servlet-name>
        <servlet-class>Servlet.Carga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresoInforme</servlet-name>
        <servlet-class>Servlet.IngresoInforme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>Servlet.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Servlet.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cita</servlet-name>
        <servlet-class>Servlet.Cita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paciente</servlet-name>
        <servlet-class>Servlet.Paciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPDF</servlet-name>
        <servlet-class>Servlet.ControladorPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIMG</servlet-name>
        <servlet-class>Servlet.ControladorIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Laboratorista</servlet-name>
        <servlet-class>Servlet.Laboratorista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Informe</servlet-name>
        <servlet-class>Servlet.Informe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Historial</servlet-name>
        <servlet-class>Servlet.Historial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes</servlet-name>
        <servlet-class>Servlet.Reportes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carga</servlet-name>
        <url-pattern>/Carga</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>com.mycompany.servidor.MyServletContextListener</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>IngresoInforme</servlet-name>
        <url-pattern>/IngresoInforme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cita</servlet-name>
        <url-pattern>/Cita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paciente</servlet-name>
        <url-pattern>/Paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPDF</servlet-name>
        <url-pattern>/ControladorPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIMG</servlet-name>
        <url-pattern>/ControladorIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Laboratorista</servlet-name>
        <url-pattern>/Laboratorista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Informe</servlet-name>
        <url-pattern>/Informe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Historial</servlet-name>
        <url-pattern>/Historial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes</servlet-name>
        <url-pattern>/Reportes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
